@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	min-height: 630px;
}
.scrollboxShadows {
	overflow: auto;
	width: 200px;
	max-height: 200px;
	margin: 50px auto;

	background:
		/* Shadow covers */ linear-gradient(
			white 30%,
			rgba(255, 255, 255, 0)
		),
		linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
		/* Shadows */
			radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
		radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0))
			0 100%;
	background:
		/* Shadow covers */ linear-gradient(
			white 30%,
			rgba(255, 255, 255, 0)
		),
		linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
		/* Shadows */
			radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
		radial-gradient(
				farthest-side at 50% 100%,
				rgba(0, 0, 0, 0.2),
				rgba(0, 0, 0, 0)
			)
			0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}
.material-symbols-rounded {
	font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 200, "opsz" 40;
}

/* .material-symbols-rounded-sm {
	font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 24;
} */

.cleanScrollbar {
	scrollbar-color: #acacac #656565;
	scrollbar-width: thin;
}
.cleanScrollbar::-webkit-scrollbar {
	width: 5px;
}
.cleanScrollbar::-webkit-scrollbar-track {
	background: #ffffff00;
}
.cleanScrollbar::-webkit-scrollbar-thumb {
	background-color: #acacac;
	border-radius: 5px;
	border: 3px solid #656565;
}
.cleanScrollbar::-webkit-scrollbar-thumb:hover {
	background-color: #858585;
}

.cleanScrollbar::-webkit-scrollbar-button {
	visibility: hidden;
}
